<!DOCTYPE HTML>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">

	<%- include('../_includes/cabecalho'); %>

</head>

<body>

	<%- include('../_includes/navbar'); %>

	<div class="container corpoSite">
		<div class="row">
			<div class="col col-md-9 tituloInfo">
				<h2>Historico de reservas</h2>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-10">
				<table class="table">
					<thead>
						<th>Quarto </th>
						<th>Cama</th>
						<th>Cliente</th>
                        <th>Chekin</th>
                        <th>Checkout</th>
						<th>status</th>
						<th colspan="2">Ações</th>
					</thead>
					<tbody>
						<% if(reservas.length > 0){ %>
						<% for(var i = 0; i < reservas.length; i++){ %>
						<tr>
							<td><%= reservas[i].nome_quarto %></td>
							<td><%= reservas[i].nome_cama %></td>
							<td><a href="reserva?id_reserva=<%= reservas[i].id_reserva %>"><%= reservas[i].nome %></a>
							</td>
                            <td><%= reservas[i].checkin %></td>
                            <td> 
                                <% if(reservas[i].status == 'Finalizada') {%>
                                    <%= reservas[i].data_checkout %>
								<%} else {%>
									<button class="btn btn-info"
									onclick="modalCheckout(<%= reservas[i].id_reserva %>, <%= reservas[i].id_cama %>)">Registrar
                                    checkout</button>	
								<%}%>   
                            </td>
							<td><%= reservas[i].status %></td>
							<td>
                               <% if(reservas[i].status == 'Ativo') {%>
								
                                <%}%>    
							</td>
							<!--<td>
								<a class="btn btn-primary btn-sm"
									href="/form_editar_reserva?id_reserva=<%= reservas[i].id_reserva %>&id_quarto=">Editar</a>
							</td> -->
							<td>
								<button class="btn btn-danger btn-sm"
									onclick="deleteReserva(<%= reservas[i].id_reserva %>, <%= reservas[i].id_quarto %>)">Excluir</button>
							</td>
						</tr>
						<% } %>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="modal fade" id="checkout">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<form method="POST" action="/checkoutReserva">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
								aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Checkout reserva</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="form-group col-sm-6 col-md-6 col-lg-6">
								<label>Hora checkout</label>
								<input type="datetime-local" class="form-control required" name="data_checkout"
									ng-model="viewdata.anime.Nome" />
							</div>
							<div class="form-group col-sm-6 col-md-6 col-lg-6">
								<input type="hidden" name="id_reserva" id="id_reserva" />
								<input type="hidden" name="id_cama" id="id_cama" />
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-4 col-lg-3">
								<input type="submit" class="btn btn-primary form-control"></div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


	<script src="css/bootstrap/dist/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		function deleteReserva(id_reserva) {
			var endereço = "/deleteReserva?id_reserva= ";
			var id = id_reserva;
			console.log(id);
			bootbox.confirm({
				size: "small",
				title: "Atenção",
				message: "Confirmar exclusão?",
				callback: function (result) {
					if (!result) return;
					window.location.href = endereço + id;
				}
			});
		}

		function modalCheckout(id_reserva, id_cama) {

			$('#checkout').modal('show');
			document.getElementById('id_cama').value = id_cama;
			document.getElementById('id_reserva').value = id_reserva;
		}


	</script>

</body>

</html>