<!DOCTYPE HTML>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">

	<title>My Place Hospedaria</title>

	<!-- JQuery -->
	<script src="js/jquery-2.2.1.js"></script>

	<!-- bootstrap - link cdn -->
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<!-- incluindo css -->
	<link href="css/style.css" rel="stylesheet">

	<script src="js/bootbox.min.js"></script>

	<!-- favicon -->
	<link rel="shortcut icon" href="" />

</head>

<body>

	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<h3>My Place Hospedaria</h3>
			</div>

			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">HOME</a></li>
					<li><a href="/lista_camas">Status das camas</a></li>
					<li><a href="/Hospedes">Hospedes</a></li>
					<li><a href="/Reservas">Reservas</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="container">
		<div class="row">
			<div class="col col-md-9 tituloInfo">
				<h2>Reserva ativas</h2>
			</div>
			
		</div>

		<br>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col col-lg-4" style="margin-left: 30px;">
								<a href="/historico_reserva">Historico de reservas</a>
							</div>
							<div class="col col-lg-2 col-lg-offset-5">
								<button onclick="modalNewReserva()" class="btn btn-primary btn-sm">Nova reserva</button>
							</div>
						</div>

						<br><br>

						<div class="row">
							<div class="col col-lg-11" style="margin-left: 30px;"> 
								<br>
								<table class="table table-striped table-hover table-sm">
									<thead>
										<th class="col-lg-3">Quarto </th>
										<th class="col-lg-3">Cama</th>
										<th class="col-lg-4">Cliente</th>
										<th class="col-lg-2">Chekin</th>
										<th colspan="2">Ações</th>
									</thead>
									<tbody>
										<% if(reservas.length > 0){ %>
										<% for(var i = 0; i < reservas.length; i++){ %>
										<tr>
											<td class="col-lg-3"><%= reservas[i].nome_quarto %></td>
											<td class="col-lg-3"><%= reservas[i].nome_cama %></td>
											<td class="col-lg-4"><a
													href="reserva?id_reserva=<%= reservas[i].id_reserva %>"><%= reservas[i].nome %></a>
											</td>
											<td class="col-lg-2"><%= reservas[i].checkin %></td>
											<td>
												<button class="btn btn-info"
													onclick="modalCheckout(<%= reservas[i].id_reserva %>, <%= reservas[i].id_cama %>)">Registrar
													checkout</button>
											</td>
											<!--<td>
								<a class="btn btn-primary btn-sm"
									href="/form_editar_reserva?id_reserva=<%= reservas[i].id_reserva %>&id_quarto=">Editar</a>
							</td> -->
											<td>
												<button class="btn btn-danger btn-sm"
													onclick="deleteReserva(<%= reservas[i].id_reserva %>, <%= reservas[i].id_quarto %>)">Excluir</button>
											</td>
										</tr>
										<% } %>
										<% } %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="checkout">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<form method="POST" action="/checkoutReserva">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
								aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Checkout reserva</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="form-group col-sm-6 col-md-6 col-lg-6">
								<label>Hora checkout</label>
								<input type="datetime-local" class="form-control required" name="data_checkout"
									ng-model="viewdata.anime.Nome" />
							</div>
							<div class="form-group col-sm-6 col-md-6 col-lg-6">
								<input type="hidden" name="id_reserva" id="id_reserva" />
								<input type="hidden" name="id_cama" id="id_cama" />
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-4 col-lg-3">
								<input type="submit" class="btn btn-primary form-control"></div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="newReserva">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Cadastrar nova reserva</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<div class="row">
								<div class="col col-lg-12">
									<a class="btn btn-primary btn-lg btn-block" href="/cad_hospede"> Hospede não
										cadastrado</a>
								</div>
							</div>
							<div class="row">
								<div class="col col-lg-12 text-center">
									<h5>-OU-</h5>
								</div>
							</div>
							<div class="row">
								<div class="col col-lg-12">
									<a class="btn btn-primary btn-lg btn-block" href="/cad_reserva"> Hospede já
										cadastrado</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
		integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
		crossorigin="anonymous"></script>

	<script type="text/javascript">
		function deleteReserva(id_reserva) {
			var endereço = "/deleteReserva?id_reserva= ";
			var id = id_reserva;
			console.log(id);
			bootbox.confirm({
				size: "small",
				title: "Atenção",
				message: "Confirmar exclusão?",
				callback: function (result) {
					if (!result) return;
					window.location.href = endereço + id;
				}
			});
		}

		function modalNewReserva() {
			$('#newReserva').modal('show');
		}

		function modalCheckout(id_reserva, id_cama) {

			$('#checkout').modal('show');
			document.getElementById('id_cama').value = id_cama;
			document.getElementById('id_reserva').value = id_reserva;
		}


	</script>

</body>

</html>