<!DOCTYPE HTML>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">

	<%- include('../_includes/cabecalho'); %>

</head>

<body>

	<%- include('../_includes/navbar'); %>

	<div class="container corpoSite">
		
		<div class="row ">
			<div class="col-lg-12" style="padding-left: 50px; padding-top:30px;">
				<div class="panel panel-default">
					<div class="panel-heading">						
						<h2>Reservas Ativas</h2>						
					</div>	

					<div class="panel-body">
						<div class="row" style="padding-top: 30px; padding-bottom: 30px;">							
							<div class="col col-lg-2 col-lg-offset-10">
								<button onclick="modalNewReserva()" class="btn btn-primary btn-sm">Nova reserva</button>								
							</div>
						</div>
					
						<div class="row">
							<div class="col col-lg-11" style="margin-left: 30px; border: 1px solid #C0C0C0; border-radius: 10px;"> 
								
								<table class="table table-striped table-hover table-sm">
									<thead>
										<th class="col-lg-1">Cod</th>
										<th class="col-lg-3">Quarto </th>
										<th class="col-lg-3">Cama</th>
										<th class="col-lg-3">Cliente</th>
										<th class="col-lg-2">Chekin</th>
										<th colspan="2">Ações</th>
									</thead>
									<tbody>
										<% if(reservas.length > 0){ %>
										<% for(var i = 0; i < reservas.length; i++){ %>
										<tr>
											<td class="col-lg-1"><a
												href="reserva?id_reserva=<%= reservas[i].id_reserva %>"><%= reservas[i].id_reserva %></a>
											</td>
											<td class="col-lg-3"><%= reservas[i].nome_quarto %></td>
											<td class="col-lg-3"><%= reservas[i].nome_cama %></td>
											<td class="col-lg-3"><%= reservas[i].nome %></td>
											<td class="col-lg-20"><%= reservas[i].checkin %></td>
											<td>
											<div class="btn-group">
												<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												  <span class="glyphicon glyphicon-option-vertical"></span> 
												</button>
												<ul class="dropdown-menu">
												  <li><a class="btn btn-link" onclick="modalCheckout(<%= reservas[i].id_reserva %>, <%= reservas[i].id_cama %>)">Registrar checkout</a></li>
												  <li><a class="btn btn-link" onclick="modalConsumo(<%= reservas[i].id_reserva %>)">Registrar consumo</a></li>
												  <!--<li><a class="btn btn-primary btn-sm" href="/form_editar_reserva?id_reserva=<%= reservas[i].id_reserva %>&id_quarto=">Editar</a></li>-->
												  <li><a class="btn btn-link" onclick="deleteReserva(<%= reservas[i].id_reserva %>, <%= reservas[i].id_quarto %>)">Excluir</a></li>
												</ul>
											  </div>
											</td>
										<% } %>
										<% } %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	  		 
			
			

	
	

	

	<%- include('modais_reserva'); %>

	<script src="css/bootstrap/dist/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		var itensConsumo = {};
		
		function modalNewReserva() {
			$('#newReserva').modal('show');
		}

		function deleteReserva(id_reserva) {
			var endereço = "/deleteReserva?id_reserva= ";
			var id = id_reserva;
			console.log(id);
			bootbox.confirm({
				size: "small",
				title: "Atenção",
				message: "Confirmar exclusão?",
				callback: function (result) {
					if (!result) return;
					window.location.href = endereço + id;
				}
			});
		}		

		function modalCheckout(id_reserva, id_cama) {

			$('#checkout').modal('show');
			document.getElementById('id_cama').value = id_cama;
			document.getElementById('id_reserva').value = id_reserva;
		}

		function modalConsumo(id_reserva){
			console.log(id_reserva);
			$('#modalConsumo').modal('show');
			$('#id_reservaModal').val(id_reserva);

			$.ajax({
				url: '/itens',
				method: "post",
				success: function(data){
					if(data){
						itensConsumo = data;
						defineOpptionsConsumo(itensConsumo);
						$('#div_valor_total').hide();
					}					
				}
			});	
			
		}

		$('#btn_salvar_itemConsumo').click(function(){

			var data = {
				id_item : $('#id_item').val(),
				id_reserva : $('#id_reservaModal').val(), 
				quantidade : $('#quantidade').val(),
				desconto : $('#desconto').val(),
				valor_total : $('#valor_total').val()
			};

			$.ajax({

				url: '/salvarItemConsumido',

				method: 'POST',

				data: data,

				success: function(data){

					$('#modalConsumo').modal('hide');

					var dialog = bootbox.dialog({
						message: '<p class="text-center mb-0">'+data+'</p>',
						closeButton: false
					}).addClass("modal-dialog-centered");	
									
					setTimeout(function(){ 
						dialog.modal('hide'); 
						
						$('#id_item').val(''),
						$('#id_reservaModal').val(''), 
						$('#quantidade').val(1),
						$('#desconto').val(0),
						$('#valor_total').val(0)
					},1500);
				}
			});

		});

		function defineOpptionsConsumo(itens){
			console.log(itens);
			for (var i = 0; i < itens.length; i++){
			
				var opcoes = document.createElement('option');
				
				opcoes.value = itens[i].id_item;
				opcoes.innerHTML = itens[i].nome_item + " - R$" +itens[i].valor;

				$('#id_item').append(opcoes);

			}
		}

		function getValorItem(id){
			var valor = 0;
			for(i = 0; i < itensConsumo.length; i++){
				if(itensConsumo[i].id_item == id){
					valor = itensConsumo[i].valor;
				}
			}
			return valor;
		}
	
		function setValorTotal(id){
			$('#valor_item').val(getValorItem(id));
			
			$('#desconto').val(0);

			$('#quantidade').val(1);

			$('#div_valor_total').hide();

			$('#valor_total').val(getValorItem(id));
		}

		function calcularValorTotal(){
			var valor = $('#valor_item').val();
			var qnt = $('#quantidade').val();
			var desconto = $('#desconto').val();
			var valor_total = (valor * qnt) - desconto;		

			$('#valor_total').val(valor_total);
			$('#div_valor_total').show();
		}		
	</script>

</body>
</html>