<!DOCTYPE HTML>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">

		<%- include('../_includes/cabecalho'); %>

</head>

<body>

	<%- include('../_includes/navbar'); %>

	<div class="container corpoSite">
		<br>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="panel panel-default" style="margin-left: 40px;">
					<div class="panel-heading">
						<h2 class="tituloCard">Lista de hospedes</h2>
					</div>
					<div class="panel-body">
						<div class="row" style="margin-bottom: 20px;">
							<div class="col col-md-2 col-lg-offset-9">
								<a href="/cad_hospede" class="btn btn-primary btn-sm">Novo hospede</a>
							</div>
						</div>
						<div class="row">
							<div class="col col-lg-9 col-lg-offset-1" style="padding: 20px; border: 1px solid #C0C0C0; border-radius: 10px;">
								<table class="table table-striped table-hover">
									<thead>
										<th>Hospede</th>
										<th>Ações</th>
									</thead>
									<tbody>
										<% if(hospedes.length > 0){ %>
										<% for(var i = 0; i < hospedes.length; i++){ %>
										<tr>
											<td>
												<a href="hospede?id_hospede=<%= hospedes[i].id_hospede %>">
													<%= hospedes[i].nome %>
												</a>
											</td>
											<td>												
												<div class="btn-group">
													<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													  <span class="glyphicon glyphicon-option-vertical"></span> 
													</button>
													<ul class="dropdown-menu">
													  <li>
														  <a class="btn btn-sm" href="/form_editar_hospede?id_hospede=<%= hospedes[i].id_hospede %>">Editar</a>
													  </li>
													  <li>
														  <a class="btn btn-sm" onclick="deleteHospede(<%= hospedes[i].id_hospede %>)">Excluir</span></a>
													</li>
													  
													</ul>
												  </div>
											</td>
										</tr>
										<% } %>
										<% } %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="css/bootstrap/dist/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		function deleteHospede(id_hospede) {
			var endereço = "/deleteHospede?id_hospede= ";
			var id = id_hospede;
			bootbox.confirm({
				size: "small",
				title: "Atenção",
				message: "Confirmar exclusão?",
				callback: function (result) {
					if (!result) return;
					window.location.href = endereço + id;
				}
			});
		}
	</script>

</body>

</html>