<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<%- include('../_includes/cabecalho'); %>
		
	</head>

	<body>

		<%- include('../_includes/navbar'); %>

	<div class="container corpoSite">	
	    <div class="row">
			<div class="col col-lg-10">
				<h2>Editar Cama</h2>
			</div>
		</div>

		<br

		<% if(validacao.length > 0){ %>
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger">
						<strong>Atenção!</strong>
						<ul>
							<% for(var i = 0; i < validacao.length; i++){ %>
							<li><%= validacao[i].msg %></li>
							<% }%>
						</ul>
					</div>
				</div>
			</div>
		<% }%>

		<div class="row">
			<div class="col col-md-8">
				<form action="/editar_cama" method="post">
				<div class="form-group">
			
					<label>Nome cama</label>
					<input type="text" name="nome_cama" id="nome_cama" class="form-control" required><br>

					<label>Tipo cama</label>
					<input type="text" name="tipo_cama" id="tipo_cama" class="form-control" required><br>

					<label>Valor</label>
					<input type="number" name="valor" id="valor" class="form-control" required><br>	

					<input type="hidden" name="id_cama" id="id_cama">

					<input type="submit" class="btn btn-primary" value="Editar">

				</form>   
			</div>
		</div>   
	</div>
</div>   		
	
		<script src="css/bootstrap/dist/js/bootstrap.min.js"></script>
		
		<script>
			$(document).ready( function () {
				
				document.getElementById('nome_cama').value = "<%=cama[0].nome_cama %>";
				document.getElementById('tipo_cama').value = "<%=cama[0].tipo_cama %>";
				document.getElementById('valor').value = <%=cama[0].valor %>;
				document.getElementById('id_cama').value = <%=cama[0].id_cama %>;
				

			});


		</script>


	</body>
</html>